* {
  font-family: 'Prata', serif;
}


:root {
  --offwhite: rgb(249, 238, 223);
  --brown: #472F2B;
}

header {
  height: 60px;
  width: 95%;
  margin-left: 2.5%;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
}

.countdown-timer {
  text-align: center;
  line-height: normal;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: solid 1px;
  border-radius: 40px;
  padding: 12px;
}

.logo{
  margin-bottom: 50px;
}

.exit {
  border: none;
  background-color: transparent;
  color: black;
}

.startImg {
  text-align: center;
  position: relative;
  border: solid 1px;
  border-radius: 5px;
  width: 400px;
  margin: 10%;
  z-index: 0;
}

body {
  background-color: #FAD6A5;
  text-align: center;
  z-index: 1;
}


/* All buttons styling */
#startGame {
  position: absolute;
  background-color: var(--offwhite);
  border-radius: 5px;
  top: 53%;
  left: 50%;
  border: solid 1px;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.nextContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#nextQuestion {
  background-color: var(--offwhite);
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  border: solid 1px;
}

.restart-btn {
  background-color: var(--offwhite);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: solid 1px;
}

#submitBtn{
  background-color: var(--offwhite);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: solid 1px;
}

.answer0 {
  background-color: var(--offwhite);
  border-radius: 5px;
  height: 80px;
  padding: 5px 10px 5px 10px;
  border: solid 1px;
  margin: 5px;
  height: 80px;
  font-size: large;
}


.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}

.questionAll {
  font-size: xx-large;
  margin: 30px;
}

input{
  background-color: var(--offwhite);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: solid 1px;
  width: 150px;
  text-align: center;
}



/* success images that are hidden on the html until the final score */
p{
  font-style: italic;
}

.success-container{
  margin-top: 10%;
}

.sucess-Image {
  border: solid 1px;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 20px;
}

#success1 {
  display: none;
  margin-top: 5%;
}

#success2 {
  display: none;
  
}

#success3 {
  display: none;
}

#success4 {
  display: none;
}

/* Elements that are hidden at the beginning of the game */
#storeDetails {
  display: none;
}

#nextQuestion {
  display: none;
}