/* background color #e9cec3 */
:root {
  --offwhite: rgb(249, 238, 223);
  --brown: #472F2B;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 60px;
  width: 95%;
  margin-left: 2.5%;
  background-color: var(--offwhite);
  border: solid 1px;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.timer{
  visibility: hidden;
}

body {
  background-color: #FAD6A5;
  text-align: center;
}

#gameHeader {
  margin: auto;
}

.exit {
  text-align: center;
}

/* All buttons styling */
#startGame {
  background-color: var(--offwhite);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: solid 1px;
  margin-top: 15%;
}

.nextContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

#nextQuestion {
  background-color: var(--offwhite);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: solid 1px;
}

.restart-btn {
  background-color: var(--offwhite);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: solid 1px;

}

.answer0 {
  background-color: var(--offwhite);
  border-radius: 5px;
  height: 80px;
  padding: 5px 10px 5px 10px;
  border: solid 1px;
  margin: 5px;
  height: 80px;
  font-size: large;
}

/* game content styling */
.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15%;
}

.questionAll {
  font-size: xx-large;
  margin: 30px;
}





/* success images that are hidden on the html until the final score */
.sucess-Image {
  border: solid 1px;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 20px;
}

#success1 {
  display: none;
}

#success2 {
  display: none;
}

#success3 {
  display: none;
}

#success4 {
  display: none;
}

/* Elements that are hidden at the beginning of the game */
#storeDetails {
  display: none;
}

#nextQuestion {
  display: none;
}

